<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav">
          <li>
            <%= link_to "Drift Library", root_path, id: "logo" %>
          </li>
        </ul>

        <%= form_for(:search, :url=>search_path, method: 'get',
                     :html=>{class: "form-search header_search"}) do |f| %>
          <div class="input-append">
            <%= f.text_field :isbn, placeholder: "ISBN", class: "span2 search-query" %>
            <%= f.submit "搜索", class: "btn" %>
          </div>
        <% end %>

      </nav>
    </div>
  </div>
</header>


