<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <nav>
        <ul class="nav">
          <li>
            <%= link_to "Drift Library", root_path, id: "logo" %>
          </li>
        </ul>

        <form class="form-search header_search" action="#">
          <div class="input-append">
            <input class="span2 search-query" type="text" placeholder="你想要的图书" />
            <button class="btn">搜索</button>
          </div>
        </form>

      </nav>
    </div>
  </div>
</header>


